@media screen and (min-width: 65em) {
/* Header Styling */

.title {
    display: block;
    margin: auto;
}
.navigation {
    display: flex; 
    height: 50px;
    max-width: 760px; 
}
.navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}

/* Main styling */
.grid-container {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.event {
    grid-row: 1/2;
    grid-column: 1/2;
}
.hero {
    grid-row: 1/3;
    grid-column: 2/4;
    height: 420px;
}

.grid-container section hero {
    height: 500px;
}
.weather {
    grid-row: 2/3;
    grid-column: 1/2;
}
.join {
    grid-row:3/4;
    grid-column:1/2;
}
.news {
    grid-row: 3/4;
    grid-column: 2/4;
}

.spotlights {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 1/4;
    grid-column: 4/4;
    height: 640px;
}
.spotlight1 {
    height: 210px;
}
.transportimage {
    width: 20%;
}
.spotlight2 {
    grid-row:2/3;
    grid-column: 1/2;
    height: 210px;
}
.tykesimage {
    width: 20%;
}
.spotlight3 {
    display: block;
    grid-row: 3/3;
    height: 210px;
}
.shopimage {
    width: 20%;
    display: block;
    margin: auto;
}
.weather-image {
    width: 50%;
}

/* ********************************* */
/* Discovery Page Styling */

.cultureimage {
    width: 80%;
}
.beachimage {
    width: 80%;
}
.tourimage {
    width: 80%;
}
.staysimage {
    width: 80%;
}
.diningimage {
    width: 80%;
}


 /* **************************************************** */
/* Join Page Styling */
form label.member {
    padding: 0.4rem 0;
    
}

/* ************************ */
/* Directory Page Styling */
tr td {
    display: table-cell;
}
}