@media screen and (min-width: 32.5em) {
/* Header styling */
  
    header {
        padding: 15px 0;
    }
    .title {
        padding: 20px 250px;
    }
    .title h1 {
        display: grid;
        font-size: 50px;
    }

/* Main styling */

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 15px;
}
.hero {
    grid-row: 1/2;
    grid-column:1/4;
    
}
.news {
    grid-row: 2/3;
    grid-column:1/4; 
}

.join {
    display:grid;
    grid-row: 4/5;
    grid-column: 1/4;
}
.join-button .btn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #00A1D9;
    color: #003056;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .join-button .btn:hover {
    background-color: #47D9BF;
  }
.event {
    grid-row: 5/6;
    grid-column:1/3;
    height: 300px;
}
.weather {
    grid-row: 5/6;
    grid-column: 3/4;
}
.spotlights {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row: 3/5;
    grid-column: 1/4;
    height: 300px;
    
}
.spotlight1 {
    grid-row: 1;
    grid-column: 1/2;
    height: 280px;
}
.spotlight2 {
    grid-row: 1;
    grid-column: 2/2;
    height: 280px;
  
}
.tykesimage {
  width: 30%;
}
.transportimage {
  width: 30%;
}


/* Footer styling */
footer {
    text-align: left;
}
footer img {
    width: 250px;
    justify-self: left;
}
 /* FOOTER STYLING */

 footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 350px;
 }
 .footer-image {
    grid-column: 1/2;
 }
.base-footer {
    grid-row: 2/2;
    grid-column: 2/4;
}
.last-updated {
  grid-row: 2/2;
  grid-column: 2/4;
  padding: 30px 60px;
  
  
}

/* ***************************************** */
/* Discovery Styling */
.discovery-grid {
    display: grid;
}
.culture{
    padding: 0px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
  }
  .cultureimage {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1;
  }
  .cultureimage:hover {
    mix-blend-mode: difference;
  }
  .culture p{
    grid-column: 2/2;
    grid-row: 1;
  }
  .beaches{
    padding: 0px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
  }
  .beachimage {
    width: 100%;
    grid-column: 2/2;
    grid-row: 1;
  }
  .beachimage:hover {
    mix-blend-mode: difference;
  }
  .beaches p{
    grid-column: 1/2;
    grid-row: 1;
  }
  .tours{
    padding: 0px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
  }
  .tourimage {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1;
  }
  .tourimage:hover {
    mix-blend-mode: difference;
  }
  .tours p{
    grid-column: 2/2;
    grid-row: 1;
  }
  .stays{
    padding: 0px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
  }
  .staysimage {
    width: 100%;
    grid-column: 2/2;
    grid-row: 1;
  }
  .staysimage:hover {
    mix-blend-mode: difference;
  }
  .stays p{
    grid-column: 1/2;
    grid-row: 1;
  }
  .dining{
    padding: 0px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
  }
  .diningimage {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1;
  }
  .diningimage:hover {
    mix-blend-mode: difference;
  }
  .dining p{
    grid-column: 2/2;
    grid-row: 1;
  }



 /* **************************************************** */
/* Join Page Styling */
.joinh1 {
  padding: 20px;
  text-align: center; 
}
.joinform {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  }
  .memberbenefit {
  grid-column:2/2;
  grid-row: 2/2;
  }
  .form-content {
  grid-column: 1/2;
  grid-row: 2/2;
  }
}