html {
    background-color: lightcyan;
}

/* *********************************************** */
/* Header styling */
header {
    background-color: #003056;
    color: white;
}
.logo { 
    width: 250px;
    margin-left: -60px;

}
.title {
    position: absolute;
    top: 85px;
    right: 15px;
    line-height: 4px;
}
.icons {
    width: 40px;
    float: right;
    margin-right: 20px;
}


nav {
	margin: 0 auto;
	max-width:760px;
	background-color: #003056;
}
.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
    width: 50px;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
#menu::before {
	content: "≡";
	font-size: 2rem;
}
.navigation a:hover, navigation a:active {
	color: white;
	background-color: #47D9BF;
    width: 150px;
}
.responsive li {
	display: block;
}
.responsive #menu::before {
	content: "X";
}
.date {
    margin: auto;
    background-color: #00A1D9;
    color:#003056;
    height: 30px;
    text-align: center;
    font-size: 1.5em;
    width: 95%;
    padding: 10px 10px;

}
.banner {
    display: flex;
    flex-direction: row;
    margin: auto;
    color:#F2D03B;
}

/* *********************************************** */
/* Main styling */
.grid-container section {
    background-color: lightgray;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #003056;
}
h3 {
    padding: 10px;
    margin: auto;
    
}
.grid-container section p {
    margin: 10px;
}
.join {
    display: none;
    height: 200px;
}
.weather {
    height: 200px;
}
.weather-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.weather-image {
    width: 60%;
    margin: auto;
}
.weather-calc {
    grid-column: 2/3;
    margin-top: -30px;
}
.hero {
    height: 200px;
    position: relative;
    background-image: url(../images/joinphoto.jpg);
    background-size: cover;
    background-position: center;
}
.hero h3 {
    position: absolute;
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #00A1D9;
    color: #003056;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .container .btn:hover {
    background-color: #47D9BF;
  }
.event {
    height: 200px;
}

.spotlights {
    background-color: white;
    padding: 10px;
    height: 405px;
}
.spotlight1 {
    border:1px solid #003056; 
    height: 200px;  
}
.transportimage {
    width: 15%;
    display: block;
    margin: auto;
}
.spotlight2 {
    border: 1px solid #003056;
    height: 200px;
}
.tykesimage {
    width: 15%;
    display:block;
    margin: auto;
}
.spotlight3 {
    display: none;
    border: 1px solid #003056;
}

/* *********************************************** */
/* Footer styling */
footer {
    background-color: #003056;
    margin-top: 20px;
    color: white;
    text-align: center;
    padding: 10px 0;
}
footer img {
    display: block;
    margin: auto;
    width:99%;
}
.base-footer p {
    line-height: 0.25px;
    margin: 10px;
}

/* **************************************************** */
/* Discovery Page Styling */

.discovery-grid {
    padding: 10px 20px;
    margin:auto;
  }
  .discovery-grid section {
    padding: 10px 10px;
    box-shadow: 3px 3px 3px lightgray;
  }
  .culture{
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    
  }
  .cultureimage {
    width: 80%;
    border: solid 2px #003056;
    border-radius: 20px;
    margin: auto;
    filter: blur(0);
    transition: filter 1s;
  }
  img[data-src] {
    filter: blur(0.25em);
  }
  .beaches{
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    
  }
  .beachimage {
    width: 80%;
    border: solid 2px #861657;
    border-radius: 20px;
    margin: auto;
    filter: blur(0);
    transition: filter 1s;
  }
  .tours{
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    
  }
  .tourimage {
    width: 80%;
    border: solid 2px #861657;
    border-radius: 20px;
    margin: auto;
    filter: blur(0);
    transition: filter 1s;
  }
  .stays{
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    
  }
  .staysimage {
    width: 80%;
    border: solid 2px #861657;
    border-radius: 20px;
    margin: auto;
    filter: blur(0);
    transition: filter 1s;
  }
  .dining{
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    
  }
  .diningimage {
    width: 80%;
    border: solid 2px #861657;
    border-radius: 20px;
    margin: auto;
    filter: blur(0);
    transition: filter 1s;
  }
  
  .lastvisited {
    border: solid 2px #861657;
    width: 200px;
    background-color: #93E1D8;
    border-radius: 10px;
    font-family: "ubuntu";
    color: white;
    padding: 10px;
  }
  




